{% extends "users/profile.html" %}

{% block content %}
	<section class="profile">
		{% if user_external %}
		<h1>Perfil de:{{ user_external.username }}</h1>
		<form id="frmFollow" action="{% url 'users:follow' user_external.id %}" method="POST">
			{% csrf_token %}
			<input type="submit" value="{{ follow_status }}">
		</form>
		<label>Nombre:</label>{{ user_external.first_name }}<br>
		<label>Apellido:</label>{{ user_external.last_name }}<br>
		<label>Correo:</label>{{ user_external.email }}<br>
		<input type="button" id="btnVolver" name="btnVolver" value="Volver">
		{% endif %}
	</section>
{% endblock content %}

{% block js %}
<script>
	$('#btnVolver').click(function() {
		window.history.back();
	});

	$('#frmFollow').submit(function() {
		form = this;
		$.ajax({
			url: form.action,
			type: form.method,
			data: $(form).serialize(),
		}).done(function(data) {
			$(form).find('input[type=submit]').val(data.message);			
		});
		return false;
	});
</script>	
{% endblock js %}