{% extends "index.html" %}

{% block titlehtml %}
	Loguearte como usuario
{% endblock titlehtml %}

{% block systemmessage %}
{% if msj %}
	<span>{{ msj }}</span>
{% endif %}	
{% endblock systemmessage %}

{% block content %}
	<section class="login">
		<h1>Entrar al sistema de </h1>
		<form action="{% url 'users:login' %}" method="POST">
		{% csrf_token %}
			<label for="name">Nombre:</label><input type="text" id="name" name="name" required="true"><br>
			<label for="pass">Contraseña:</label><input type="password" id="pass" name="pass" required="true"><br>
			<input type="submit" value="Login">
			<input type="button" id="btnVolver" value="Cancelar">
		</form>
	</section>
{% endblock content %}

{% block footer %}
	
{% endblock footer %}

{% block js %}
<script>
	$('#btnVolver').click(function(){
		window.location = '{% url 'index' %}';
	});
</script>
{% endblock js %}