{% extends "index.html" %}

{% block systemmessage %}
{% if msj %}
	{{ msj }}
{% endif %}	
{% endblock systemmessage %}

{% block content %}
	<section class="register">
		<h1>Registro de nuevo usuario</h1>
		<form action="{% url 'users:register' %}" id="frmRegister" method="POST">
		{% csrf_token %}
			<label for="name">Nombre:</label><input type="text" name="name" id="name" required="true"><br>
			<label for="email">Correo:</label><input type="email" name="email" id="email" required="true"><br>
			<label for="pass">Contraseña:</label><input type="password" name="pass" id="pass" required="true"><br>
			<input type="submit" value="Registrar">
			<input type="reset" value="Borrar">
			<input id="btnCancelar" type="button" value="Cancelar">
		</form>
	</section>
{% endblock content %}

{% block js %}
<script>
	$('#btnCancelar').click(function(){
		window.location = '{% url 'index' %}';
	});

	$('#frmRegister').submit(function(){
		var form = this;
		$.ajax({
			url: form.action,
			type: form.method,
			data: $(form).serialize(),
		}).done(function(data) {
			if (data.success == 1) {
				alert(data.message);
				window.location = '{% url 'users:login' %}';
			}
		}).fail(function() {
			console.log("error");
		});
		return false;
	});
</script>
{% endblock js %}

{% block footer %}
	
{% endblock footer %}