{% extends "index.html" %}

{% block systemmessage %}
{% if msj %}
	{{ msj }}
{% endif %}	
{% endblock systemmessage %}

{% block content %}
	<section class="register">
		<h1>Registro de nuevo usuario</h1>
		<form action="{% url 'users:register' %}" id="frmRegister" method="POST">{% csrf_token %}
			{{ registerform.as_p }}
			<input type="submit" value="Registrar">
			<input type="reset" value="Borrar">
			<input id="btnCancelar" type="button" value="Cancelar">
		</form>
	</section>
{% endblock content %}

{% block js %}
<script>
	$('#btnCancelar').click(function(){
		window.location = '{% url 'index' %}';
	});

	$('#frmRegister').submit(function(){
		var form = this;
		$.ajax({
			url: form.action,
			type: form.method,
			data: $(form).serialize(),
		}).done(function(data) {
			if (data.success == 1) {
				alert(data.message);
				window.location = '{% url 'users:login' %}';
			}
		}).fail(function() {
			console.log("error");
		});
		return false;
	});
</script>
{% endblock js %}

{% block footer %}
	
{% endblock footer %}