*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url("js/vendor/boxsizing.htc")}
html{overflow-y:scroll;overflow-x:hidden}
body{zoom:1;width:100%}
body:before,body:after{content:"";display:table}
body:after{clear:both}
img,video,audio,embed,object,input,iframe{max-width:100%}
.placeholder{color:#aaa}
.chromeframe{width:100%;background:#fff;background:-webkit-linear-gradient(top, #fff, #eee);background:-moz-linear-gradient(top, #fff, #eee);background:-o-linear-gradient(top, #fff, #eee);background:-ms-linear-gradient(top, #fff, #eee);background:linear-gradient(to bottom, #fff, #eee);border-bottom:1px solid #ddd;-webkit-box-shadow:inset 0 -1px 0 #fff;box-shadow:inset 0 -1px 0 #fff;text-shadow:0 1px 0 #fff;}
.chromeframe p{zoom:1;max-width:1410px;float:none !important;display:block;margin-right:auto !important;margin-left:auto !important;*margin-right:auto !important;*margin-left:auto !important;padding:15px 0;margin-top:0;margin-bottom:0;text-align:center;margin-bottom:0;}
.chromeframe p:before,.chromeframe p:after{content:"";display:table}
.chromeframe p:after{clear:both}
.chromeframe p a{color:#3a95fb}
footer{margin:1em 0 0 0}
label{min-width:5.5em;display:inline-block}
.system-message{background-color:#3b5998;border-bottom:solid 1px #1d2b49;-webkit-box-shadow:0 1px 2px #6c89c6;box-shadow:0 1px 2px #6c89c6;height:2em;padding:.5em;color:#fff}
.welcome-message span{font-weight:bold}
.welcome-message span a,.welcome-message span a:hover,.welcome-message span a:visited,.welcome-message span a:active{color:#fff;font-weight:bold}
.content{zoom:1;max-width:1000px;float:none !important;display:block;margin-right:auto !important;margin-left:auto !important;*margin-right:auto !important;*margin-left:auto !important;border:1px solid #ccc;border-top:none;min-height:500px;}
.content:before,.content:after{content:"";display:table}
.content:after{clear:both}
.content h1{text-align:center}
.home h3{text-align:center}
.poll-result ul{list-style:none;}
.poll-result ul li{width:30%;}
.poll-result ul li span{display:block}
.poll-result ul li span.bar1{background-color:#0080ff}
.poll-result ul li span.bar2{background-color:#ff0080}
.poll-result ul li span.bar3{background-color:#0f0}
.poll-result ul li span.bar4{background-color:#ff8000}
.profile aside,.profile article{zoom:1;float:left;width:48%;margin-left:1%;margin-right:1%}
.profile aside:before,.profile article:before,.profile aside:after,.profile article:after{content:"";display:table}
.profile aside:after,.profile article:after{clear:both}
.profile aside{border-left:1px solid #ccc;}
.profile aside hr{border:1px solid #ccc;border-bottom:none}
.profile aside h6{margin:0 1em}
.external-profile article{zoom:1;float:left;width:31.33333333333333%;margin-left:1%;margin-right:1%}
.external-profile article:before,.external-profile article:after{content:"";display:table}
.external-profile article:after{clear:both}
footer{zoom:1;max-width:1000px;float:none !important;display:block;margin-right:auto !important;margin-left:auto !important;*margin-right:auto !important;*margin-left:auto !important;}
footer:before,footer:after{content:"";display:table}
footer:after{clear:both}
footer a{padding:9px 30px;display:inline-block;background:#3b5998;-webkit-border-radius:5px;border-radius:5px;cursor:pointer;text-align:center;text-decoration:none;-webkit-transition:200ms ease all;-moz-transition:200ms ease all;-o-transition:200ms ease all;-ms-transition:200ms ease all;transition:200ms ease all;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2);box-shadow:inset 0 1px 0 rgba(255,255,255,0.2);border:1px solid #2c4a87;color:#dfe5f2;text-shadow:0 1px 0 #1f3b74;border:0;background:#3b5998;text-shadow:none;-webkit-box-shadow:none;box-shadow:none;font-weight:bold;color:#fff;padding:5px 20px}
footer a:hover{opacity:.9;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";filter:alpha(opacity=90);color:#e9eef7}
footer a:active{opacity:1;-ms-filter:none;filter:none;position:relative;top:1px}
@media all and (max-width: 705px) {
}
