@import 'jeet/framework'
@import 'jeet/goodies'

max-center = 1000px

color-base = #3B5998

footer
	margin: 1em 0 0 0;

.system-message
	background-color: color-base
	border-bottom: solid 1px hsl(221, 44%, 20%)
	box-shadow: 0 1px 2px hsl(221, 44%, 60%)
	height 2em
	padding 0.5em
	color: #FFF

.welcome-message span
	font-weight: bold

.welcome-message span
	a, a:hover, a:visited, a:active
		color: #FFF
		font-weight bold

.content
	center(max-center)

.result-block
	ul
		list-style: none
		li
			width 30%
			span
				display block
		li span.bar1
			background-color: #0080FF
		li span.bar2
			background-color: #FF0080
		li span.bar3
			background-color: #00FF00
		li span.bar4
			background-color: #FF8000

footer
	center(max-center)
	a
		btn(color-base)
		font-weight: bold
		color: #FFF
		padding: 5px 20px


// Mobile
bp()

endbp()