{% extends "index.html" %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<section class="poll-detail">
	{% if poll %}
	<h2>{{ poll.question }}</h2>
	<form id="frmVotar" action="{% url 'polls:vote' poll.id %}" method="POST">
	{% csrf_token %}
		{% for choice in poll.choice_set.all %}
		<input type="radio" id="choice{{ choice.id }}" name="choice" value="{{ choice.id }}" {% ifequal forloop.counter 1 %}checked="true"{% endifequal %}>
		<label for="choice{{ choice.id }}">{{ choice.choice_text }}</label><br>
		{% endfor %}
		<input id="btnVotar" type="submit" value="Votar">
		<input id="btnVolver" type="button" value="Volver">
	</form>
	{% else %}
	<h2 class="alert">No hay datos</h2>
	{% endif %}
</section>
{% endblock content %}

{% block js %}   
<script>
	$('#btnVolver').click(function(){
		window.history.back();
	});

	//Envia voto por ajax
	$('#frmVotar').submit(function(){
		var form = this;
		$.ajax({
			url: form.action,
			type: form.method,
			data: $(form).serialize(),
		}).done(function(data) {
			alert(data.message);
			if (data.success == 1) {
				window.location = '{% url 'polls:results' poll.id %}';			
			}
		}).fail(function() {
			console.log("error");
		});
		return false;
	});
</script>
{% endblock js %}