{% extends "polls/index.html" %}

{% block titlehtml %}Detalles de la encuesta{% endblock titlehtml %}

{% block content %}

{% comment %}Mensaje de error en caso de que exista{% endcomment %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if poll %}
	<h2>{{ poll.question }}</h2>
	<form id="frmVotar" action="{% url 'vote' poll.id %}" method="POST">
	{% csrf_token %}
		{% for choice in poll.choice_set.all %}
		<input type="radio" id="choice{{ choice.id }}" name="choice" value="{{ choice.id }}">
		<label for="choice{{ choice.id }}">{{ choice.choice_text }}</label>
		{% endfor %}
		<input id="btnVotar" type="submit" value="Votar">
	</form>
{% else %}
	<h2 class="alert">No hay datos</h2>
{% endif %}

<a href="{% url 'index' %}">Volver atras</a>

{% endblock content %}

{% block js %}   
<script>
	$('#frmVotar').submit(function(){
		var form = this;
		$.ajax({
			url: form.action,
			type: form.method,
			data: $(form).serialize(),
		})
		.done(function(data) {
			if (data.success == 1) {
				alert(data.message);
				console.log('{% url "results" poll.id %}');
				window.location = '{% url "results" poll.id %}';				
			}else{

			};
		})
		.fail(function() {
			console.log("error");
		});
		

		return false;
	});
</script>
{% endblock js %}