<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    {% comment %}Bloque para el titulo de la pagina{% endcomment %}
	<title>{% block titlehtml %}Bienvenido a Encuestas con django{% endblock titlehtml %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    {% comment %}bloque de css extra{% endcomment %}
	{% block extracss %}{% endblock extracss %}
    <script src="{% static "js/jquery.min.js" %}"></script>
</head>
<body>
{% comment %}Bloque de contenido principal{% endcomment %}
{% block content %}
{% if latest_poll_list %}
    <h1>Hacer una de nuestras encuestas</h1>
    <ul>
    {% for poll in latest_poll_list %}
        <li><a href="{% url 'detail' poll.id %}">{{ poll.question }}</a> - Votos({{ poll.get_vote_count }})</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}    
{% endblock content %}

{% comment %}Bloque de javascript{% endcomment %}
{% block js %}    
{% endblock js %}
</body>
</html>